$primaryColor = #074d72 //Navy Blue
$secondaryColor = #db5500 //Bright Orange
$accentColor = #e3eeec //Light Green
$defaultReverseTextColor = #fff // User Item Text

$successColor = #3d763e //Green
$alertColor = #b94a48 //Red
$errorColor = #b94a48 //Alert Red

$textColor = #3c3c3b // Dark Grey
$textInverseColor = #f2f2f2 // Light Grey
$headerInverseColor = #ffb800 //Bright Yellow
$secondaryTextColor = #b0aca3 //Dark Grey

$bodyBackgroundColor = #d9edf7 //Light Blue
$menuBackgroundColor = #ebebeb //Light Grey
$spinnerColor = #ccc // Light gray
$borderBoxColor = #87B2CE //Light blue 

$linkColor = #136CA0 // Dark Blue

$iconTableColor = #D96112 // Orange

$userItemPrimaryColor = #434753 //User Item Panel Background

$userItemShadow = #3a9fc4 // User Item Box Shadow
$userItemBorder = #696c75 // User Item Border
$userItemStatusText = #a8adb3 //User Item Status Text
$userItemOnline = #62bf6e // User Item Online Status
$userItemOffline = #fd8064 // User Item Offline Status

$textWrongWord = #ff0000 //Text Area Wrong Word

$onlineColor = #92D050 //Light Green

$borderColorComming = #FBE5D5 //Message border comming
$borderColorSending = #E2EFD9 // Message border sending
$colorTextChat = #0F669E
$readMessage = #4AAF4E
$unreadMessage = #A2A3A3
$removedMessage = #5C5D61
$privateMessage = #DEEBF6
$borderPrivateMessage = #5D94C6

$scrollColor = #7F7F7F

$replyBackground = #FFF5D9
$replyDate = $borderBoxColor

$borderTextarea = #dddddd
$borderTopTextarea = #0F669E
$backgroundColor = #ffffff
$colorTextSpell = #cccccc
$colorSendText = #0F669E
$colorParticipant = #ED7D32

$colorTextChat = #0F669E
$iconActionsColor = #263238

$borderColorTab  = #aaaaaa 
$backgroundColorTab = #ececec
$blackTextColorTab = #000000
$activeColorTabs = #BFBFBF

$deleteUserColor = #dddddd
