@import "./colors.styl"

.nav-content
  div
    background-color $primaryColor
    padding-top 10px
    padding-bottom 10px

.nav-header
  font-size 16px
  min-height 50px
  border-bottom 1px solid #EEE
  background-color #0F669E

.corner-right
  border-top-right-radius 15px
  -moz-border-radius-topright 15px
  -webkit-border-top-right-radius 15px
  text-align right

.corner-left
  -webkit-border-top-left-radius 15px
  -moz-border-radius-topleft 15px
  border-top-left-radius 15px

.color-icon 
  color $defaultReverseTextColor
  padding 0px 6px 0px 6px
  &:hover
    text-decoration none
    color $secondaryColor
    cursor pointer

.color-icon-remove 
  padding-left 34px

.set-badge__counter
  position absolute
  left 154px
  top 4px