.indicator {
  padding-left: 0px;
}
.indicator div {
  cursor: pointer;
  text-decoration: none;
  width: 32px;
  height: 32px;
}
.indicator-counter {
  cursor: pointer;
  text-decoration: none;
  background: #b94a48;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 12px;
  height: 21px;
  width: 21px;
  line-height: 14px;
  position: relative;
  padding: 3px 9px 0px 7px;
  text-align: center;
  top: -34px;
  left: 14px;
}
