<div ng-animate=" 'animate' " ng-if="$ctrl.isOpenModal" class="row margin-child set-container-box">
  <set-lucy class="col-md-2"></set-lucy>
  <div class="col-md-10 set-container-box__services">
    <div class="row margin-child">
      <set-navigator resource="$ctrl.resource" on-close="$ctrl.changeIsOpenModal()"></set-navigator>
    </div>
    <div class="row margin-child">
      <set-chat resource="$ctrl.resource" resource-name="$ctrl.resourceName"></set-chat> 
      <!--<div ui-view></div>-->
    </div>
  </div>
</div>
<div ng-animate=" 'animate' " ng-if="!$ctrl.isOpenModal">
  <set-indicator config="$ctrl.configChat" resource="$ctrl.resource" on-open="$ctrl.changeIsOpenModal()"></set-indicator>
</div>
